[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "allometric"]
	path = allometric
	url = https://github.com/allometric/allometric
